body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1;
}

.cards {
  display: flex;
  flex: 1;
  gap: 32px;
  flex-wrap: wrap;
  padding: 32px;
}

li {
  margin-bottom: 16px;
}

ul {
  list-style: none;
  margin: 0; padding: 0;
}

a {
  text-decoration: none;
  font-size: 24px;
  color: white;
}

.card {
  padding: 16px;
  width: 250px;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 10px;
  font-size: 32px;
  font-weight: 900;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
  flex-shrink: 0;
  padding: 16px;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/*   Indices

Tu devras modifier la propriété flex-direction pour pousser le pied de page vers le bas.
Tu devras ajouter des <div> comme conteneurs pour aligner correctement les éléments.
flex-wrap t’aidera à aligner correctement les cartes.
Assure-toi de définir l’espace que les cartes doivent occuper pour que flex-wrap fonctionne comme prévu.

Auto-vérification

Le texte de l’en-tête a une taille de 32 px et un poids de 900.
Le texte de l’en-tête est centré verticalement et se trouve à 16 px du bord de l’écran.
Le pied de page est poussé en bas de l’écran (il peut dépasser vers le bas si le contenu de la section « cartes » est trop long et/ou si ton écran est plus petit).
Le texte du pied de page est centré horizontalement et verticalement.
La barre latérale et les cartes occupent tout l’espace disponible au-dessus du pied de page.
La barre latérale fait 300 px de large (et ne se réduit pas).
Les liens de la barre latérale ont une taille de 24 px, sont blancs et n’ont pas de soulignement.
La barre latérale a une marge intérieure (padding) de 16 px.
La section « cartes » a une marge intérieure (padding) de 48 px.
Les cartes sont disposées horizontalement, mais passent à la ligne suivante lorsqu’elles manquent de place. */